{% extends 'platerplotter/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %}
    Audit - {{ block.super }}
{% endblock title %}
{% load crispy_forms_tags %}


{% block content %}
<div class='container-fluid'>
 <div class="row">
  <div class="col-8">
    <h3>Audit</h3> 
    <b>Note:</b> Search results are limited to 1000 hits for performance reasons.
  </div>
  <div class="col-4">
    <form role='form' action='' method="POST", class='form-inline float-right'>
       {% csrf_token %}
       <input type="text" name="search_term" />
       <div class="form-group">
        <div class="col-lg-5 col-sm-offset-5">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </form>
    </div>
   	{% if samples %}
   	<div class="col-12">
 	 <div class="tab-pane active">
          <table class="table table-bordered" id="dataTablePag">
            <thead>
              <tr>
                <th>Laboratory Sample ID</th>
              	<th>Participant ID</th>
              	<th>Group ID</th>
              	<th>Sample Type</th>
              	<th>Receiving Rack, Well</th>
              	<th>Sent by</th>
                <th>Sample Volume (ml)</th>
                <th>Received</th>
                <th>GEL1005 sent</th>  
                <th>Holding Rack, Well</th>  
                <th>Holding Rack Type</th>    
                <th>Plate ID, Well</th>
                <th>Consignment Number</th>
                <th>Date of Dispatch</th>
                <th>Issue</th>
                <th>Issue Outcome</th>
                  <th>Comment</th>
              </tr>
            </thead>
            <tbody>
            {% for sample in samples %}
            <tr>
              {% if sample.get_absolute_url  %}
                <td><a href="{{sample.get_absolute_url}}">{{ sample.laboratory_sample_id }}</a></td>
                {% else %}
                <td>{{ sample.laboratory_sample_id }}</td>
                {% endif %}
              <td>{{ sample.participant_id }}</td>
              <td>{{ sample.group_id }}</td>
              <td>{{ sample.sample_type }}</td>
              <td>{{ sample.receiving_rack.receiving_rack_id }} {{ sample.receiving_rack_well }}</td>
              <td>{{ sample.receiving_rack.laboratory_id }}</td>
              <td>{{ sample.laboratory_sample_volume }}</td>
              <td>{{ sample.sample_received_datetime|date:"Y/m/d G:i" }}</td>
              <td>{{ sample.receiving_rack.gel_1004_csv.gel_1005_csv.report_generated_datetime|date:"Y/m/d G:i" }}</td>
              <td>{{ sample.holding_rack_well.holding_rack.holding_rack_id }} {{ sample.holding_rack_well.well_id }}</td>
              <td>{{ sample.holding_rack_well.holding_rack.holding_rack_type }}</td>
              <td>{{ sample.holding_rack_well.holding_rack.plate.plate_id }} 
                {% if sample.holding_rack_well.holding_rack.plate.plate_id %}
                  {{ sample.holding_rack_well.well_id }}
                {% endif %}
              </td>
              <td>{{ sample.holding_rack_well.holding_rack.plate.gel_1008_csv.consignment_number }}</td>
              <td>{{ sample.holding_rack_well.holding_rack.plate.gel_1008_csv.date_of_dispatch|date:"Y/m/d G:i" }}</td>
              <td>{{ sample.comment }}</td>
              <td>{{ sample.issue_outcome }}</td>
                <td>{{ sample.comment }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div> 
 	</div>
 	{% endif %}
 </div>
</div>

{% endblock content %}