{% extends 'platerplotter/base.html' %}
{% block title %}
    Consignments for Collection - {{ block.super }}
{% endblock title %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
   	  <div class="col-12">
	    <h3>Consignments for Collection</h3>
      </div>
    </div>
    <hr>
    {% for consignment_number, plates in consignment_no_dict.items %}
    <div class="row">
      <div class="col-10">
        <div class="tab-pane active">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th colspan="5" style="background-color: #e9ecef">
                	Consignment Number: &emsp; {{consignment_number}}, &emsp;&emsp;
                	Date of Dispatch: &emsp; {{plates.0.gel_1008_csv.date_of_dispatch|date:"d/m/Y"}}
                </th>
              </tr>
              <tr>
                <th>Plate ID</th>
                <th>Plate Type</th>
                <th>Half Plate</th>
                <th>Full Plate</th>
                <th>Number of Samples</th>
              </tr>
            </thead>
            <tbody>
            {% for plate in plates %}
            <tr>
              <td>{{ plate }}</td>
              <td>{{ plate.holding_rack.holding_rack_type }}</td>
	          <td>
              {% if plate.holding_rack.half_full %}
                <i class="fas fa-check-circle" style="color:green"></i>
              {% else %}
                <i class="fas fa-times-circle" style="color:red"></i>
              {% endif %}
	          </td>
	          <td>
              {% if plate.holding_rack.full %}
                <i class="fas fa-check-circle" style="color:green"></i>
              {% else %}
                <i class="fas fa-times-circle" style="color:red"></i>
              {% endif %}
	          </td>
              <td>{{ plate.sample_count }}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div> 
      </div>
      <div class="col-2">
          <form role='form' action='' method="POST" class='form'>
            {% csrf_token %}
            <div class="form-group">
              <div>
                  <button type="submit" name='send-consignment' value='{{ consignment_number }}' class="btn btn-success btn-block">Consignment Collected</button>
              </div>
            </div>
        </form>
      </div>
    </div>
    <hr>
    {% endfor %} 
  </div>

{% endblock content %}