{% extends 'platerplotter/base.html' %}


{% block content %}
   <div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Add Comment</label>
            {% if sample.comment %}
            <textarea class="form-control" id="exampleFormControlTextarea1" name="comment" rows="3">{{ sample.comment }}</textarea>
            {% else %}
            <textarea class="form-control" id="exampleFormControlTextarea1" name="comment" rows="3"></textarea>
            {% endif %}
        </div>
        <button class="btn btn-primary" type="submit">Update</button>
    </form>
</div>

{% endblock %}