<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>
		{% block title %}
			PlaterPlotter
		{% endblock title %}
	</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- DataTables, required for pagination-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <!-- jQuery UI CSS -->
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css"/>
    <!-- Datatables for bootstrap 4 -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="{% static 'js/javascript.js' %}"></script>
</head>
<body>
	<div>

		<nav class="navbar navbar-light" style="background-color: #e9ecef;">
	        <div class="container-fluid">
	            <div class="navbar-header">
	                <a class="navbar-brand" href="">PlaterPlotter</a>
	            </div>
	            <ul class="nav">
	                <li class="nav nav-item">
	                    <a class="nav-link" style="color: #212529" href="/">Rack Notifications</a>
	                </li>
	                <li class="nav nav-item">
	                    <a class="nav-link" style="color: #212529" href="/awaiting-plating/">Awaiting Plating</a>
	                </li>
	                <li class="nav nav-item">
	                    <a class="nav-link" style="color: #212529" href="/ready-to-plate/">Ready to Plate</a>
	                </li>
	                <li class="nav nav-item">
	                    <a class="nav-link" style="color: #212529" href="/ready-to-dispatch/">Ready for Dispatch</a>
	                </li>
	                <li class="nav nav-item">
	                    <a class="nav-link" style="color: #212529" href="/audit/">Audit</a>
	                </li>
	            </ul>
	        </div>
    	</nav> <br>

	</div>
	<div class="container-fluid">
	    {% if messages %}
	      {% for message in messages %}
	        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
	          <div class="alert alert-danger" role="alert"><strong>{{ message }}</strong></div>
	        {% endif %}
	        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
	          <div class="alert alert-warning" role="alert"><strong>{{ message }}</strong></div>
	        {% endif %}
	        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
	          <div class="alert alert-success" role="alert"><strong>{{ message }}</strong></div>
	        {% endif %}
	      {% endfor %}
	    {% endif %}
	</div>
	<div>
		{% block content %}{% endblock content %}
	</div>
    {% block footer %}{% endblock footer %}

</body>
</html>