{% extends 'base.html' %}
{% block title %}
    Import CSVs - {{ block.super }}
{% endblock title %}


{% block content %}
  <div class='container-fluid'>
    <form role='form' action='' method="POST" class='form-inline form-control-lg'>
        {% csrf_token %}
        <div class="form-group">
          <div>
            <button type="submit" class="btn btn-primary">Import</button>
          </div>
        </div>
    </form>
    <div class="tab-pane active">
      <br>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Participant ID</th>
              <th>Group ID</th>
              <th>Disease Area</th>
              <th>GMC Rack ID</th>
              <th>Clinic Sample Type</th>
              <th>GLH Sample Consignment Number</th>
              <th>Laboratory Sample ID</th>
              <th>Laboratory ID</th>
              <th>Laboratory Sample Volume</th>
              <th>GMC Rack Well</th>
              <th>Plating Organisation</th>
              <th>Priority</th>
              <th>Is Proband</th>
            </tr>
          </thead>
          <tbody>
          {% for csv in gel1004 %}
          <tr>
            <td>{{ csv.participantId }}</td>
            <td>{{ csv.groupId }}</td>
            <td>{{ csv.diseaseArea }}</td>
            <td>{{ csv.gmcRackId }}</td>
            <td>{{ csv.clinSampleType }}</td>
            <td>{{ csv.glhSampleConsignmentNumber}}</td>
            <td>{{ csv.laboratorySampleId }}</td>
            <td>{{ csv.laboratoryId }}</td>
            <td>{{ csv.laboratorySampleVolume }}</td>
            <td>{{ csv.gmcRackWell }}</td>
            <td>{{ csv.platingOrganisation }}</td>
            <td>{{ csv.priority }}</td>
            <td>{{ csv.isProband }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>      

  </div>


{% endblock content %}