{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %}
    Determine wells - {{ block.super }}
{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div class='container-fluid'>
  {% if plate %}
  <div class="row">
    <div class="col-4">
      <h3>Holding rack</h3>
      <strong>Holding Rack ID:</strong> {{plate.holding_rack_id}} <br>
      <strong>Holding Rack Type:</strong> {{plate.plate_type}}    
    </div>
    <div class="col-4">
      <div align='center'>
        <a class="btn btn-primary btn-lg" href="/plate-samples/{{rack.gmc_rack_id}}" role="button">Change Holding Rack</a>
      </div>
    </div>
      <div class="col-4">
        <div align='right'>
          <h4>Scan or type sample ID</h4>
        </div>
        <form role='form' action='' method="POST", class='form-inline float-right'>
          {% csrf_token %}
          {{ sample_select_form|crispy }}
          <div class="form-group">
            <div class="col-lg-5 col-sm-offset-5">
              <button type="submit" name='sample' class="btn btn-primary">Go</button>
            </div>
          </div>
        </form>
        {% if messages %}
          <ul class="messages warning">
              {% for message in messages %}
              <strong><p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p></strong>
              {% endfor %}
          </ul>
        {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="tab-pane active">
          <table class="plate">
            <tbody>
              <tr>
                <th></th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
              </tr>
              <tr>
                <th>A</th>
                {% if "A1" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "A2" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "A3" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "A4" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "A5" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "A6" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "A7" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "A8" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "A9" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "A10" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "A11" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "A12" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
              </tr>
              <tr>
                <th>B</th>
                {% if "B1" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "B2" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "B3" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "B4" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "B5" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "B6" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "B7" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "B8" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "B9" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "B10" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "B11" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "B12" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
              </tr>
              <tr>
                <th>C</th>
                {% if "C1" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "C2" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "C3" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "C4" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "C5" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "C6" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "C7" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "C8" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "C9" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "C10" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "C11" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "C12" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
              </tr>
              <tr>
                <th>D</th>
                {% if "D1" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "D2" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "D3" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "D4" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "D5" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "D6" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "D7" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "D8" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "D9" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "D10" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "D11" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "D12" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
              </tr>
              <tr>
                <th>E</th>
                {% if "E1" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "E2" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "E3" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "E4" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "E5" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "E6" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "E7" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "E8" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "E9" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "E10" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "E11" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "E12" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
              </tr>
              <tr>
                <th>F</th>
                {% if "F1" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "F2" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "F3" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "F4" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "F5" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "F6" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "F7" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "F8" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "F9" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "F10" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "F11" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "F12" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
              </tr>
              <tr>
                <th>G</th>
                {% if "G1" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "G2" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "G3" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "G4" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "G5" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "G6" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "G7" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "G8" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "G9" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "G10" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "G11" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "G12" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
              </tr>
              <tr>
                <th>H</th>
                {% if "H1" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "H2" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "H3" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "H4" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "H5" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "H6" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "H7" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "H8" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "H9" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "H10" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "H11" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if "H12" in assigned_well_list %}
                  <td style="background-color: blue"></td>
                {% else %}
                  <td></td>
                {% endif %}
              </tr>
            </tbody>
          </table>
      </div> 
    </div> 
    <div class='col-8'>
      <div class="tab-pane active">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Holding Rack Well</th>
              <th>Lab Sample ID</th>  
              <th>Participant ID</th>
              <th>Group ID</th>
              <th>Priority</th>
              <th>Disease Area</th>
              <th>Sample Type</th>          
              <th>Is Proband?</th>
            </tr>
          </thead>
          <tbody>
            {% for sample in plate_samples %}
            <tr>
              <td>{{ sample.plate_well_id }}</td>
              <td>{{ sample.laboratory_sample_id }}</td>
              <td>{{ sample.participant_id }}</td>
              <td>{{ sample.group_id }}</td>
              <td>{{ sample.priority }}</td>
              <td>{{ sample.disease_area }}</td>
              <td>{{ sample.clin_sample_type }}</td>
              <td>{{ sample.is_proband }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div> 
    </div>    
  </div>
  {% else %}
  <div class="row">
    <div class="col-6">
      <h3>Determine plate well locations for samples</h3>
      <p>Scan holding rack ID and then scan sample to determine well</p>
    </div>
    <div class="col-6">
      <div align='right'>
        <h4>Scan or type Holding Rack</h4>
      </div>
      <form role='form' action='' method="POST", class='form-inline float-right'>
        {% csrf_token %}
        {{ holding_rack_form|crispy }}
        <div class="form-group">
          <div class="col-lg-5 col-sm-offset-5">
            <button type="submit" name='holding' class="btn btn-primary">Go</button>
          </div>
        </div>
      </form>
      {% if messages %}
        <ul class="messages warning">
            {% for message in messages %}
            <strong><p>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p></strong>
            {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
  {% endif %}
  <br>
  <hr>
  <div class="row">
    <div class="col-4">
      <h3>Samples awaiting well assignment</h3>
      <strong>GLH Rack ID:</strong> {{rack.gmc_rack_id}}
    </div>
    <div class="col-4">
      <div align='center'>
        <a class="btn btn-primary btn-lg" href="/awaiting-plating" role="button">Change GLH Rack</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="tab-pane active">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Participant ID</th>
                <th>Group ID</th>
                <th>Priority</th>
                <th>Disease Area</th>
                <th>Sample Type</th>
                <th>Consignment Number</th>
                <th>Lab Sample ID</th>
                <th>Sample Volume</th>
                <th>Rack Well</th>
                <th>Is Proband?</th>
              </tr>
            </thead>
            <tbody>
            {% for sample in samples %}
            <tr>
              <td>{{ sample.participant_id }}</td>
              <td>{{ sample.group_id }}</td>
              <td>{{ sample.priority }}</td>
              <td>{{ sample.disease_area }}</td>
              <td>{{ sample.clin_sample_type }}</td>
              <td>{{ sample.glh_sample_consignment_number }}</td>
              <td>{{ sample.laboratory_sample_id }}</td>
              <td>{{ sample.laboratory_sample_volume }}</td>
              <td>{{ sample.gmc_rack_well }}</td>
              <td>{{ sample.is_proband }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div> 
    </div>     
  </div>
</div>
{% endblock content %}