{% extends 'base.html' %}
{% block title %}
    Acknowledge Samples - {{ block.super }}
{% endblock title %}
{% load bootstrap4 %}


{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <h3>Plates ready for dispatch</h3>
        <p>Assign racks to consignment and send GEL1008</p>
      </div>
      <div class="col-6">
        <form role='form' method="POST" class='form-inline float-right' enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-lg-4">
              {% bootstrap_field gel1008_form.consignment_number %}
            </div>
            <div class="col-lg-4">
              {% bootstrap_field gel1008_form.date_of_dispatch %}
            </div>
            <div class="col-lg-4">
              <br>
              <button type="submit" name="gel1008" class="btn btn-primary btn-block">Send GEL1008</button>
              {% if messages %}
                <br>
                <ul class="messages warning">
                    {% for message in messages %}
                    <strong><p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p></strong>
                    {% endfor %}
                </ul>
              {% endif %}
            </div>
      </div>
    <div class="col-12">
      <div class="tab-pane active">
        <br>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Plate ID</th>
                <th>Sample Type</th>
                <th>Half Plate</th>
                <th>Full Plate</th>
                <th>Number of Samples</th>
                <th>Assign Plate to Consignment</th>
              </tr>
            </thead>
            <tbody>
            {% for plate in ready_to_dispatch %}
            <tr>
              <td>{{ plate.plate_id }}</td>
              <td>{{ plate.plate_type }}</td>
              <td>{{ plate.half_full }}</td>
              <td>{{ plate.full }}</td>
              <td>{{ plate.sample_count }}</td>
              <td style="text-align:center">
                <input type="checkbox" name="selected_plate" value="{{plate.pk}}">
<!--                 <form role='form' action='' method="POST" class='form'>
                  {% csrf_token %}
                  <div class="form-group">
                    <div>
                      <button class='btn btn-primary-outline btn-xsl' type="submit" name='sample-received' value='{{ plate.pk }}'>
                        <label class="switch">
                          <input type="checkbox">
                          <span class="slider round"></span>
                        </label>
                      </button>
                    </div>
                  </div>
                </form> -->
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </form>
      </div> 
    </div>     
  </div>

{% endblock content %}