{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %}
    Import CSVs - {{ block.super }}
{% endblock title %}


{% block content %}
  <div class='container-fluid'>
    <div class="col-md-12">
    <div class="form-group">
      <form role="form" action="" method="post" class="form-horizontal">
          {% csrf_token %}
          <div class="col-md-3">
            {% bootstrap_field form.gmcRackId %}
          </div>
          <table class="plate">
            <tbody>
              <tr>
                <td>{% bootstrap_field form.A1 show_label=False%}</td>
                <td>{% bootstrap_field form.A2 show_label=False%}</td>
                <td>{% bootstrap_field form.A3 show_label=False%}</td>
                <td>{% bootstrap_field form.A4 show_label=False%}</td>
                <td>{% bootstrap_field form.A5 show_label=False%}</td>
                <td>{% bootstrap_field form.A6 show_label=False%}</td>
                <td>{% bootstrap_field form.A7 show_label=False%}</td>
                <td>{% bootstrap_field form.A8 show_label=False%}</td>
                <td>{% bootstrap_field form.A9 show_label=False%}</td>
                <td>{% bootstrap_field form.A10 show_label=False%}</td>
                <td>{% bootstrap_field form.A11 show_label=False%}</td>
                <td>{% bootstrap_field form.A12 show_label=False%}</td>
              </tr>
              <tr>
                <td>{% bootstrap_field form.B1 show_label=False%}</td>
                <td>{% bootstrap_field form.B2 show_label=False%}</td>
                <td>{% bootstrap_field form.B3 show_label=False%}</td>
                <td>{% bootstrap_field form.B4 show_label=False%}</td>
                <td>{% bootstrap_field form.B5 show_label=False%}</td>
                <td>{% bootstrap_field form.B6 show_label=False%}</td>
                <td>{% bootstrap_field form.B7 show_label=False%}</td>
                <td>{% bootstrap_field form.B8 show_label=False%}</td>
                <td>{% bootstrap_field form.B9 show_label=False%}</td>
                <td>{% bootstrap_field form.B10 show_label=False%}</td>
                <td>{% bootstrap_field form.B11 show_label=False%}</td>
                <td>{% bootstrap_field form.B12 show_label=False%}</td>
              </tr>
              <tr>
                <td>{% bootstrap_field form.C1 show_label=False%}</td>
                <td>{% bootstrap_field form.C2 show_label=False%}</td>
                <td>{% bootstrap_field form.C3 show_label=False%}</td>
                <td>{% bootstrap_field form.C4 show_label=False%}</td>
                <td>{% bootstrap_field form.C5 show_label=False%}</td>
                <td>{% bootstrap_field form.C6 show_label=False%}</td>
                <td>{% bootstrap_field form.C7 show_label=False%}</td>
                <td>{% bootstrap_field form.C8 show_label=False%}</td>
                <td>{% bootstrap_field form.C9 show_label=False%}</td>
                <td>{% bootstrap_field form.C10 show_label=False%}</td>
                <td>{% bootstrap_field form.C11 show_label=False%}</td>
                <td>{% bootstrap_field form.C12 show_label=False%}</td>
              </tr>
              <tr>
                <td>{% bootstrap_field form.D1 show_label=False%}</td>
                <td>{% bootstrap_field form.D2 show_label=False%}</td>
                <td>{% bootstrap_field form.D3 show_label=False%}</td>
                <td>{% bootstrap_field form.D4 show_label=False%}</td>
                <td>{% bootstrap_field form.D5 show_label=False%}</td>
                <td>{% bootstrap_field form.D6 show_label=False%}</td>
                <td>{% bootstrap_field form.D7 show_label=False%}</td>
                <td>{% bootstrap_field form.D8 show_label=False%}</td>
                <td>{% bootstrap_field form.D9 show_label=False%}</td>
                <td>{% bootstrap_field form.D10 show_label=False%}</td>
                <td>{% bootstrap_field form.D11 show_label=False%}</td>
                <td>{% bootstrap_field form.D12 show_label=False%}</td>
              </tr>
              <tr>
                <td>{% bootstrap_field form.E1 show_label=False%}</td>
                <td>{% bootstrap_field form.E2 show_label=False%}</td>
                <td>{% bootstrap_field form.E3 show_label=False%}</td>
                <td>{% bootstrap_field form.E4 show_label=False%}</td>
                <td>{% bootstrap_field form.E5 show_label=False%}</td>
                <td>{% bootstrap_field form.E6 show_label=False%}</td>
                <td>{% bootstrap_field form.E7 show_label=False%}</td>
                <td>{% bootstrap_field form.E8 show_label=False%}</td>
                <td>{% bootstrap_field form.E9 show_label=False%}</td>
                <td>{% bootstrap_field form.E10 show_label=False%}</td>
                <td>{% bootstrap_field form.E11 show_label=False%}</td>
                <td>{% bootstrap_field form.E12 show_label=False%}</td>
              </tr>
              <tr>
                <td>{% bootstrap_field form.F1 show_label=False%}</td>
                <td>{% bootstrap_field form.F2 show_label=False%}</td>
                <td>{% bootstrap_field form.F3 show_label=False%}</td>
                <td>{% bootstrap_field form.F4 show_label=False%}</td>
                <td>{% bootstrap_field form.F5 show_label=False%}</td>
                <td>{% bootstrap_field form.F6 show_label=False%}</td>
                <td>{% bootstrap_field form.F7 show_label=False%}</td>
                <td>{% bootstrap_field form.F8 show_label=False%}</td>
                <td>{% bootstrap_field form.F9 show_label=False%}</td>
                <td>{% bootstrap_field form.F10 show_label=False%}</td>
                <td>{% bootstrap_field form.F11 show_label=False%}</td>
                <td>{% bootstrap_field form.F12 show_label=False%}</td>
              </tr>
              <tr>
                <td>{% bootstrap_field form.G1 show_label=False%}</td>
                <td>{% bootstrap_field form.G2 show_label=False%}</td>
                <td>{% bootstrap_field form.G3 show_label=False%}</td>
                <td>{% bootstrap_field form.G4 show_label=False%}</td>
                <td>{% bootstrap_field form.G5 show_label=False%}</td>
                <td>{% bootstrap_field form.G6 show_label=False%}</td>
                <td>{% bootstrap_field form.G7 show_label=False%}</td>
                <td>{% bootstrap_field form.G8 show_label=False%}</td>
                <td>{% bootstrap_field form.G9 show_label=False%}</td>
                <td>{% bootstrap_field form.G10 show_label=False%}</td>
                <td>{% bootstrap_field form.G11 show_label=False%}</td>
                <td>{% bootstrap_field form.G12 show_label=False%}</td>
              </tr>
              <tr>
                <td>{% bootstrap_field form.H1 show_label=False%}</td>
                <td>{% bootstrap_field form.H2 show_label=False%}</td>
                <td>{% bootstrap_field form.H3 show_label=False%}</td>
                <td>{% bootstrap_field form.H4 show_label=False%}</td>
                <td>{% bootstrap_field form.H5 show_label=False%}</td>
                <td>{% bootstrap_field form.H6 show_label=False%}</td>
                <td>{% bootstrap_field form.H7 show_label=False%}</td>
                <td>{% bootstrap_field form.H8 show_label=False%}</td>
                <td>{% bootstrap_field form.H9 show_label=False%}</td>
                <td>{% bootstrap_field form.H10 show_label=False%}</td>
                <td>{% bootstrap_field form.H11 show_label=False%}</td>
                <td>{% bootstrap_field form.H12 show_label=False%}</td>
              </tr>
            </tbody>
          </table>
        <div class="col-md-12" align="center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}