{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %}
    Sample Acks - {{ block.super }}
{% endblock title %}

{% block content %}
<div class='container-fluid'>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <form role='form' action='' method="POST" class='form-horizontal'>
                    {% csrf_token %}
                    <div class="form-group">
                      <div>
                        <button type="submit" name="gel1004" class="btn btn-primary">Import GEL1004</button>
                      </div>
                    </div>
                </form>
            </div>
            <div class="col-sm">
                <form role='form' action='' method="POST" class='form-horizontal'>
                    {% csrf_token %}
                    <div class="form-group">
                      <div>
                        <button type="submit" name="gel1005" class="btn btn-primary">Generate GEL1005</button>
                      </div>
                    </div>
                </form>
            </div>
            <div class="col-sm">
                <form role='form' action='' method="POST" class='form-horizontal'>
                    {% csrf_token %}
                    <div class="form-group">
                      <div>
                        <button type="submit" name="gel1008" class="btn btn-primary">Generate GEL1008</button>
                      </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="tab-pane active">
      <br>
      <h4>GEL1004 recieved, awaiting sample</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>GEL1004 filename</th>
            <th>Participant ID</th>
            <th>Lab Sample ID</th>
            <th>GMC Rack ID</th>
            <th>GMC Rack Well</th>
          </tr>
        </thead>
        <tbody>
        {% for gel1004 in remaining_gel1004 %}
        <tr>
          <td>{{ gel1004.filename }}</td>
          <td>{{ gel1004.participantId }}</td>
          <td>{{ gel1004.laboratorySampleId }}</td>
          <td>{{ gel1004.gmcRackId }}</td>
          <td>{{ gel1004.gmcRackWell }}</td>     
        </tr>
        {% endfor %}
      </tbody>
    </div>      
</div>
{% endblock content %}