{% extends 'platerplotter/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %}
    Audit - {{ block.super }}
{% endblock title %}
{% load crispy_forms_tags %}


{% block content %}
<div class='container-fluid'>
 <div class="row">
  <div class="col-6">
    <h3>Audit</h3>
  </div>
   	{% if samples %}
   	<div class="col-12">
 	 <div class="tab-pane active">
          <table class="table table-bordered" id="dataTablePag">
            <thead>
              <tr>
              	<th>Participant ID</th>
              	<th>Group ID</th>
              	<th>Disease Area</th>
              	<th>Receiving Rack, Well</th>
              	<th>Sent by</th>
                <th>Received</th>
                <th>GEL1005 sent</th>  
                <th>Holding Rack, Well</th>  
                <th>Holding Rack Type</th>    
                <th>Plate ID</th>
                <th>GEL1008 sent</th>
                <th>Consignment Number</th>
                <th>Date of Dispatch</th>
                <th>Issue</th>
                <th>Issue Outcome</th>    
              </tr>
            </thead>
            <tbody>
            {% for sample in samples %}
            <tr>
              <td>{{ sample.participant_id }}</td>
              <td>{{ sample.group_id }}</td>
              <td>{{ sample.disease_area }}</td>
              <td>{{ sample.rack.gmc_rack_id }}, {{ sample.gmc_rack_well }}</td>
              <td>{{ sample.rack.laboratory_id }}</td>
              <td>{{ sample.sample_received_datetime }}</td>
              <td>{{ sample.rack.gel_1004_csv.gel_1005_csv.report_generated_datetime }}</td>
              <td>{{ sample.plate.holding_rack_id }}, {{ sample.plate_well_id }}</td>
              <td>{{ sample.plate.plate_type }}</td>
              <td>{{ sample.plate.plate_id }}</td>
              <td>{{ sample.plate.gel_1008_csv.report_generated_datetime }}</td>
              <td>{{ sample.plate.gel_1008_csv.consignment_number }}</td>
              <td>{{ sample.plate.gel_1008_csv.date_of_dispatch }}</td>
              <td>{{ sample.comment }}</td>
              <td>{{ sample.issue_outcome }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div> 
 	</div>
 	{% endif %}
 </div>
</div>

{% endblock content %}