{% extends 'platerplotter/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %}
    Awaiting Plating - {{ block.super }}
{% endblock title %}


{% block content %}
  <div class='container-fluid'>
    <div class="row">
      <div class="col-12">
        <h3>Samples awaiting plating</h3>
        <p>Click on a rack ID to start assigning samples to plate locations</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        <div class="tab-pane active">
          <h4>GLH Racks</h4>
          <table class="table table-bordered" id="dataTable">
            <thead>
              <tr>
                <th>Rack ID</th>
                <th>Disease Area</th>
                <th>Sample Type</th>
                <th>Priority</th>
                <th>Laboratory ID</th>
                <th>Number of Samples Awaiting Plating</th>
              </tr>
            </thead>
            <tbody>
            {% for rack, samples in unplated_racks_dict.items %}
            <tr>
              <td><a href="/assign-samples-to-holding-rack/{{ rack.gel_1004_csv.pk }}/{{ rack.receiving_rack_id }}">{{ rack.receiving_rack_id }}</a></td>
              <td>{{ rack.disease_area }}</td>
              <td>{{ rack.holding_rack_type }}</td>
              <td>{{ rack.priority }}</td>
              <td>{{ rack.laboratory_id }}</td>
              <td>{{ samples|length }}</td>
            </tr>
            {% endfor %} 
            </tbody>
          </table>
        </div> 
      </div>
    </div>
    <hr>
    {% if problem_holding_rack_dict %}
      <div class="row">
        <div class="col-12">
          <div class="tab-pane active">
            <h4>Problem Racks</h4>
            <table class="table table-bordered" id="dataTable2">
              <thead>
                <tr>
                  <th>Rack ID</th>
                  <th>Sample Type</th>
                  <th>Number of Samples Awaiting Plating</th>
                </tr>
              </thead>
              <tbody>
              {% for holding_rack, samples in problem_holding_rack_dict.items %}
              <tr>
                <td><a href="/assign-samples-to-holding-rack/{{ holding_rack.holding_rack_id }}">{{ holding_rack.holding_rack_id }}</a></td>
                <td>{{ holding_rack.holding_rack_type }}</td>
                <td>{{ samples|length }}</td>
              </tr>
              {% endfor %} 
              </tbody>
            </table>
          </div> 
        </div>
      </div>
    {% endif %}
</div>

{% endblock content %}