{% extends 'platerplotter/base.html' %}
{% block title %}
    Unacknowledged Racks - {{ block.super }}
{% endblock title %}


{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-10">
        <h3>Unacknowledged Racks</h3>
        <p>Click on a rack ID to acknowledge that the samples have been received.</p>
      </div>
      <div class="col-2">
        <form role='form' action='' method="POST" class='form'>
            {% csrf_token %}
            <div class="form-group">
              <div>
                <button type="submit" name='import-1004' class="btn btn-primary btn-block">Import New</button>
              </div>
            </div>
        </form>
      </div>
    </div>
    <hr>
    {% for gel1004, racks in unacked_racks_dict.items %}
    <div class="row">
      <div class="col-10">
        <div class="tab-pane active">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th colspan="5" style="background-color: #e9ecef">{{gel1004.filename}}</th>
              </tr>
              <tr>
                <th>Rack ID</th>
                <th>Laboratory ID</th>
                <th>Number of Samples</th>
                <th>Samples acknowledged</th>
                <th>Volume checked</th>
              </tr>
            </thead>
            <tbody>
            {% for rack in racks %}
            <tr>
              <td><a href="/acknowledge-samples/{{ gel1004.pk }}/{{ rack.receiving_rack_id }}">{{ rack.receiving_rack_id }}</a></td>
              <td>{{ rack.laboratory_id }}</td>
              <td>{{ rack.no_samples }}</td>
              <td>
                {% if rack.rack_acknowledged %}
                  <i class="fas fa-check-circle" style="color:green"></i>
                {% else %}
                  <i class="fas fa-times-circle" style="color:red"></i>
                {% endif %}
              </td>
              <td>
                {% if rack.volume_checked %}
                  <button><i class="fas fa-check-circle" style="color:green" id="{{rack.id}}" onclick="toggleVolumeChecked('{{rack.id}}')"></i></button>
                {% else %}
                  <button><i class="fas fa-times-circle" style="color:red" id="{{rack.id}}" onclick="toggleVolumeChecked('{{rack.id}}')"></i></button>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div> 
      </div>
      <div class="col-2">
          <form role='form' action='' method="POST" class='form'>
            {% csrf_token %}
            <div class="form-group">
              <div>
                {% if gel1004.all_racks_acked %}
                  <button type="submit" name='send-1005' value='{{ gel1004.pk }}' class="btn btn-success btn-block">Send Ack</button>
                {% else %}
                  <button type="submit" name='send-1005' value='{{ gel1004.pk }}' class="btn btn-success btn-block" disabled>Send Ack</button>
                {% endif %}
              </div>
            </div>
        </form>
      </div>
    </div>
    <hr>
    {% endfor %} 
                <form id="volume-form">
                  {% csrf_token %}
                  {% for field in volume_form %}
                  <div class="form-group col-4">
                      {{ field }}
                  </div>
                  {% endfor %}
                  <input type="submit" class="btn btn-primary" value="Save" />
                </form>
  </div>

{% endblock content %}
{% block javascript %}
<script>
    /*
        On submiting the form, send the POST ajax
        request to server and after successfull submission
        display the object.
    */
    function toggleVolumeChecked(rackId) {
      console.log('button pressed');
      console.log(rackId);
      $.ajax({
        type: 'get',
        url: "{% url 'post_volume_check' %}",
        data: {'rack_id' : rackId},
        success: function(data) {
          var x = document.getElementById(rackId);
          console.log(data[rackId])
          console.log(x)
        }
      });

      // var unassignedWells = document.getElementsByClassName('unassigned')
      // var form = document.getElementById('well');
      // for (var i = 0; i < unassignedWells.length; i++) {
      //   unassignedWells[i].style.backgroundColor = '#e9ecef'
      // }
      // if (position === form.value){
      //   form.value = '';
      // } else {
      //   form.value = position;
      //   document.getElementById(position).style.backgroundColor = "red";
      //   console.log(position);
      // }
    }
    $("#volume-checked").submit(function (e) {
        // preventing from page reload and default actions
        e.preventDefault();
        // serialize the data for sending the form data.
        var serializedData = $(this).value;
        // make POST ajax call
        $.ajax({
            type: 'POST',
            url: "{% url 'post_volume_check' %}",
            data: serializedData,
            success: function (response) {
                // on successfull creating object
                // 1. clear the form.
                alert(response["responseJSON"]["success"]);
                // $("#friend-form").trigger('reset');
                // // 2. focus to nickname input 
                // $("#id_nick_name").focus();

                // // display the newly friend to table.
                // var instance = JSON.parse(response["instance"]);
                // var fields = instance[0]["fields"];
                // $("#my_friends tbody").prepend(
                //     `<tr>
                //     <td>${fields["nick_name"]||""}</td>
                //     <td>${fields["first_name"]||""}</td>
                //     <td>${fields["last_name"]||""}</td>
                //     <td>${fields["likes"]||""}</td>
                //     <td>${fields["dob"]||""}</td>
                //     <td>${fields["lives_in"]||""}</td>
                //     </tr>`
                // )
            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
    })
</script>
{% endblock javascript %}