{% extends 'platerplotter/base.html' %}

{% block content %}
    <div class="container-fluid">
        {% if discards %}
            <div class="container-fluid">
                <table class="table table-bordered" id="dataTable3">
                    <thead>
                    <tr>
                        <th>Holding rack ID</th>
                        <th>Date of dispatch</th>
                        <th>Discarded</th>
                        <th>Discarded by</th>
                        <th>Checked by</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for discard in discards %}
                        <tr>
                            <td>{{ discard.holding_rack_id }}</td>
                            <td>{{ discard.plate.gel_1008_csv.date_of_dispatch.date }}</td>
                            <td>{{ discard.discarded }}</td>
                            <td>{% if user.first_name %}
                                   {{ user.get_full_name }}
                                {% else %}
                                    {{ user }}
                                {% endif %}
                            </td>
                            <td>{{ discard.checked_by }}</td>
                            <td> {{ discard.discard_date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        {% endif %}
    </div>


{% endblock %}

{% block javascript %}

    <script>
        $(document).ready(function () {
            const table = $('#dataTable3').DataTable();

            function foco() {
                $('div.dataTables_filter input', table.table().container()).focus();
            }

            setTimeout(foco, 1)
        });
    </script>
{% endblock %}