{% extends 'platerplotter/base.html' %}


{% block content %}
    {% if discard_racks %}
        <div class="container-fluid">
            <form id="discardForm" action="." method="post">
                {% csrf_token %}
                <table class="table table-bordered" id="dataTable">
                    <thead>
                    <tr>
                        <th>Select</th>
                        <th>Holding rack ID</th>
                        <th>Date of dispatch</th>
                        <th>Status</th>
                        <th>Discarded by</th>
                        <th>Checked by</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <input type="checkbox" id="selectAll">
                        </td>
                        <td colspan="6">Select All</td>
                    </tr>
                    {% for discard_rack in discard_racks %}
                        <tr>
                            <td>
                                <input type="checkbox" class="discard-checkbox" name="selected_rack"
                                       value="{{ discard_rack.holding_rack_id }}">
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" value="{{ discard_rack.holding_rack_id }}"
                                           name="holding_rack_id" readonly>
                                </div>
                            </td>
                            <td>{{ discard_rack.plate.gel_1008_csv.date_of_dispatch }}</td>
                            <td>OK TO DISCARD</td>
                            <td>{{ user }}</td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="checked_by" required>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    {% else %}
        <div class="alert alert-success" role="alert">
            No holding racks available
        </div>
    {% endif %}

{% comment %}
    <div class="container">
      <form action="." method="post"> {% csrf_token %}
        <div class="form-group">
          <label for="holdingRackID">Holding Rack ID</label>
          <input type="text" class="form-control" id="holdingRackID" name="holding_rack_id">
        </div>

        <div class="form-group">
          <label for="dateOfDispatch">Date of dispatch</label>
          <input type="date" class="form-control" id="dateOfDispatch" name="dispatch_date">
        </div>

        <div class="form-group">
        <label for="discardedBy">Discarded by</label>
          <span id="discardedBy" class="form-control" >{{discard_form.discarded_by}}</span>
      </div>

        <div class="form-group">
          <label for="checkedBy">Checked By</label>
          <input type="text" class="form-control" name="checked_by" id="checkedBy">
        </div>

        <div class="form-group">
          <label for="discardStatus">Status</label>
          <input type="text" class="form-control" id="discardStatus" readonly>
        </div>

        <button type="submit" id="discardBtn" class="btn btn-primary" disabled>Submit</button>
      </form>
    </div>{% endcomment %}

<script>
{% comment %}

  let dispatchDateInput = document.getElementById('dateOfDispatch');
  let todayDate = new Date();
  const discardStatusText = document.getElementById('discardStatus');
  const discardBtn = document.getElementById('discardBtn');

  dispatchDateInput.addEventListener("change", updateValue);

  function updateValue(e) {
    dispatchDate = new Date(e.target.value);
    const timeDifference = Math.abs(todayDate - dispatchDate);
    const weeks = Math.ceil(timeDifference / (1000 * 60 * 60 * 24 * 7));

    if (weeks > 10 ) {
      discardStatusText.value = 'OK TO DISCARD';
      discardStatusText.style.backgroundColor = '#8bf38bbf';
      discardBtn.disabled = false;
    } else {
      discardStatusText.value = 'DO NOT DISCARD';
      discardStatusText.style.backgroundColor = '#ff000047';
    }
{% endcomment %}


 document.addEventListener('DOMContentLoaded', function () {
    const selectAllCheckbox = document.getElementById('selectAll');
    const checkboxes = document.querySelectorAll('.discard-checkbox');

    selectAllCheckbox.addEventListener('click', function () {
        checkboxes.forEach((checkbox) => {
            checkbox.checked = this.checked;
        });
    });

    document.getElementById('discardForm').addEventListener('submit', function (event) {
        let atLeastOneChecked = false;
        checkboxes.forEach((checkbox) => {
            if (checkbox.checked) {
                atLeastOneChecked = true;
            }
        });

        if (!atLeastOneChecked) {
            event.preventDefault(); // Prevent form submission
            alert('Please select at least one item to discard.');
        }
    });
});

</script>



{% endblock %}