{% extends 'platerplotter/base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 ">
                <div class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="selectAll">Select all &nbsp;</label>
                        <input form="discardForm" class="form-control ml-auto" type="checkbox" id="selectAll"
                        >
                    </div>

                    <div class="form-group">
                        <label for="checked">Checked By:</label>
                        <input type="text" form="discardForm" class="form-control" name="checked_by"
                               id="checked" required>
                    </div>
                </div>

            </div>
            <div class="col-md-4 float-right">
                <form class="form-inline justify-content-end" method="get" action=".">
                    <div class="form-group mx-sm-3 mb-2 ">
                        <label for="inputPassword2" class="sr-only">Holding Rack ID</label>
                        <input type="text" class="form-control" name="q" id="inputPassword2" placeholder="Rack ID" autofocus>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Go</button>
                </form>
            </div>
        </div>
    </div>

    {% if discard_racks %}
        <div class="container-fluid">
            <form id="discardForm" action="." method="post">
                {% csrf_token %}
                <table class="table table-bordered" id="dataTable">
                    <thead>
                    <tr>
                        <th>Select</th>
                        <th>Holding rack ID</th>
                        <th>Date of dispatch</th>
                        <th>Status</th>
                        <th>Discarded by</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for discard_rack in discard_racks %}
                        <tr>
                            <td>
                                <input type="checkbox" class="discard-checkbox" name="selected_rack"
                                       value="{{ discard_rack.holding_rack_id }}"
                                       onclick="checkName('{{ discard_rack.holding_rack_id }}')"
                                >
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" value="{{ discard_rack.holding_rack_id }}"
                                           name="holding_rack_id" readonly>
                                </div>
                            </td>
                            <td>{{ discard_rack.plate.gel_1008_csv.date_of_dispatch.date }}</td>
                            <td>OK TO DISCARD</td>
                            <td>{{ user }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    {% elif results %}
        <div class="container-fluid">
            <div class="container">
                <form action="." method="post">
                    {% csrf_token %}
                    {% for result in results %}
                        <div class="form-group">
                            <label for="holdingRackID">Holding Rack ID</label>
                            <input type="text" class="form-control" id="holdingRackID"
                                   value="{{ result.holding_rack_id }}" name="holding_rack_id">
                        </div>

                        <div class="form-group">
                            <label for="dateOfDispatch">Date of dispatch</label>
                            <input type="text" class="form-control" id="dateOfDispatch"
                                   value="{{ result.plate.gel_1008_csv.date_of_dispatch.date }}" name="dispatch_date"
                                   readonly>
                        </div>

                        <div class="form-group">
                            <label for="discardedBy">Discarded by</label>
                            <span id="discardedBy" class="form-control">{{ user }}</span>
                        </div>

                        <div class="form-group">
                            <label for="checkedBy">Checked By</label>
                            <input type="text" class="form-control" name="checked_by" id="checkedBy">
                        </div>

                        <div class="form-group">
                            <label for="discardStatus">Status</label>
                            <input type="text" class="form-control" id="discardStatus" value="DO NOT DISCARD" readonly>
                        </div>

                        <button type="submit" id="discardBtn" class="btn btn-primary" disabled>Submit</button>
                    {% endfor %}
                </form>
            </div>
        </div>

    {% else %}
        <div class="container">
            <div class="alert alert-success" role="alert">
                No holding racks available
            </div>
        </div>
    {% endif %}

    <script>

        let dispatchDateInput = document.getElementById('dateOfDispatch');
        let todayDate = new Date();
        const discardStatusText = document.getElementById('discardStatus');
        const discardBtn = document.getElementById('discardBtn');

        const selectAllCheckbox = document.getElementById('selectAll');
        const checkboxes = document.querySelectorAll('.discard-checkbox');
        const checkedByInput = document.querySelector('input[name="checked_by"]');

        document.addEventListener('DOMContentLoaded', function () {


            selectAllCheckbox.addEventListener('click', function () {
                checkboxes.forEach((checkbox) => {
                    checkbox.checked = this.checked;
                });
            });

            document.getElementById('discardForm').addEventListener('submit', function (event) {
                console.log("Form submission attempted");
                let atLeastOneChecked = false;
                checkboxes.forEach((checkbox) => {
                    if (checkbox.checked) {
                        atLeastOneChecked = true;
                    }
                });

                if (!atLeastOneChecked) {
                    event.preventDefault(); // Prevent form submission
                    alert('Please select at least one item to discard.');
                }
            });


        });


    </script>

{% endblock %}